<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include "c1SuiteApp/partials/head.html" %}
    <!-- bloco (block) para permitir que o título seja dinâmico na pagina destino -->
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include "c1SuiteApp/partials/header.html" %}

    <main class="main-content">
        <!-- Bloco que permite alterar o conteúdo da pagina destino -->
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% include "c1SuiteApp/partials/footer.html" %}
    </footer>
</body>

</html>